:80

# Set this path to your site's directory.
root * /usr/share/caddy

# Enable the static file server.
#file_server

#php_fastcgi php-fpm:9000 {
#    env SERVER_SOFTWARE Apache
#}
# https://caddyserver.com/docs/caddyfile/directives/php_fastcgi#expanded-form
# Proxy PHP files to the FastCGI responder
@phpFiles {
    #path *.php
    # Match what would be a PHP resource file eventually with 'PATH_INFO',
    # which follows "the part that identifies the script itself" (RFC 3875 §4.1.5):
    #      PATH_INFO = "" | ( "/" path )
    #      path      = lsegment *( "/" lsegment )
    #      lsegment  = *lchar
    #      lchar     = <any TEXT or CTL except "/">
    #path_regexp php_fastcgi ^(.+\.php)(/.+)?$
    path_regexp php_fastcgi ^(.+\.php)(.*)$
}
reverse_proxy @phpFiles php-fpm:9000 {
    transport fastcgi {
        split .php
        env SERVER_SOFTWARE Apache
    }
}
